In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import ast
import operator

In [178]:
# load the csv file

dataset = pd.read_csv('new_stores/store_0057.csv', header=0, infer_datetime_format=True,
                   parse_dates=['ds'], index_col=['ds'])

n_days = len(dataset.groupby(dataset.index.date))
print("days: "+str(n_days))
dataset = dataset[['sales','n_clients']]
dataset.n_clients.values

days: 1649

array([24, 22, 35, ..., 22, 25, 28], dtype=int64)

In [ ]:
#naive_yhat_sequence=dataset['clients_that_bought'].values[-1400-175+(175*i):-1400+(175*i)]
# plot each iteration 
pyplot.title('Store A')
    pyplot.plot(test_y, color="blue", label="Real")
    pyplot.plot(yhat_sequence, alpha=0.8, color="red", label="LSTM Prediction")
    #pyplot.plot(naive_yhat_sequence, alpha=0.8, color="green", label="Naive Predicted")
    #pyplot.xticks([0, 25, 50, 75, 100, 125, 150, 175], labels=['2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08'])
    #pyplot.xticks([0, 25, 50, 75, 100, 125, 150, 175], labels=['2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15'])
    #pyplot.xticks([0, 25, 50, 75, 100, 125, 150, 175], labels=['2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22'])
    #pyplot.xticks([0, 175, 350, 525, 700], labels=['2020-04-29', '2020-05-06', '2020-05-13', '2020-05-20', '2020-05-27'])
    pyplot.legend(loc="upper left")
    pyplot.xlabel("Half-hours")
    pyplot.ylabel("Client Entries")
    pyplot.show()

In [3]:
def get_most_regular_schedule(df):
    check_dict = dict()
    # iterate by days
    for idx, day in df.groupby(df.index.date):
        day_sched = list()
        # get list(keys-schedules) for the dict
        for i in day.index.time:
            hour = i.strftime("%H:%M:%S")
            day_sched.append(hour)
        day_sched = str(day_sched)
        if day_sched in check_dict:
            check_dict[day_sched]+=1
        else:
            check_dict.update({day_sched : 1})
    
    # the schedule with max ocurrences
    k, v = max(check_dict.items(), key=operator.itemgetter(1))
    k = ast.literal_eval(k)
    
    return k,v, check_dict

In [4]:
reg_schedule, v, check_dict = get_most_regular_schedule(dataset)
print(reg_schedule,v)

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00'] 282

In [5]:
def fill_gaps(df, reg_schedule=None, hour_in=None, hour_out=None):
    counter = 0 # counter of imputations to perform
    
    # create custom schedule with hour_in and hour_out
    if hour_in is not None and hour_out is not None:
        hour_in = datetime.strptime(hour_in, '%H:%M:%S')
        hour_out = datetime.strptime(hour_out, '%H:%M:%S')
        reg_schedule = list()
        while hour_in <= hour_out:
            reg_schedule.append(str(datetime.strptime(str(hour_in.time()), '%H:%M:%S').time()))
            hour_in+=timedelta(minutes=30)
        print(reg_schedule)
        
    # fill the gaps with NaN
    for i in reg_schedule:
        i = datetime.strptime(i, '%H:%M:%S').time()
        print(i)
        for j, day in df.groupby(df.index.date):
            if i not in list(day.index.time):
                #print(i, day)
                df.loc[pd.to_datetime(str(j)+" "+str(i))] = [np.nan,np.nan]
                counter+=1
                
    # add column "imputed"
    df['imputed'] = np.where(((pd.isnull(df['n_clients'])) & (pd.isnull(df['sales']))), 'yes', 'no')
    
    print("Total rows to input: "+str(counter))
    df = df.sort_index()     
    
    # Dataframe with NaNs to be imputed and excess datetimes
    return df

In [6]:
dataset = fill_gaps(dataset, reg_schedule)#, hour_in='08:00:00', hour_out='12:00:00')
dataset

08:00:00
08:30:00
09:00:00
09:30:00
10:00:00
10:30:00
11:00:00
11:30:00
12:00:00
12:30:00
13:00:00
13:30:00
14:00:00
14:30:00
15:00:00
15:30:00
16:00:00
16:30:00
17:00:00
17:30:00
18:00:00
18:30:00
19:00:00
Total rows to input: 9059

                     sales  n_clients imputed
ds
2015-01-02 08:00:00    NaN        NaN     yes
2015-01-02 08:30:00    NaN        NaN     yes
2015-01-02 09:00:00    NaN        NaN     yes
2015-01-02 09:30:00    NaN        NaN     yes
2015-01-02 10:00:00  121.0        2.0      no
...                    ...        ...     ...
2020-10-18 17:00:00    NaN        NaN     yes
2020-10-18 17:30:00    NaN        NaN     yes
2020-10-18 18:00:00    NaN        NaN     yes
2020-10-18 18:30:00    NaN        NaN     yes
2020-10-18 19:00:00    NaN        NaN     yes

[40176 rows x 3 columns]

In [7]:
# check schedules again
reg_schedule, v, check_dict = get_most_regular_schedule(dataset)

# see other schedules as well
for x, y in check_dict.items():
    print(str(x)+" : "+str(y)+" \n")

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00'] : 1673

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '20:00:00', '21:00:00'] : 1

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '23:00:00'] : 1

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '20:00:00', '21:00:00', '22:00:00', '23:00:00'] : 1

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '20:00:00'] : 3

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '21:00:00'] : 2

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '20:00:00', '21:00:00', '23:00:00'] : 3

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '20:00:00', '22:00:00'] : 1

['07:30:00', '08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '22:00:00', '23:00:00'] : 1

['07:30:00', '08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00'] : 36

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '20:00:00', '21:00:00', '22:00:00'] : 1

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '19:30:00'] : 17

['07:00:00', '08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00'] : 1

['08:00:00', '08:30:00', '09:00:00', '09:30:00', '10:00:00', '10:30:00', '11:00:00', '11:30:00', '12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00', '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00', '17:00:00', '17:30:00', '18:00:00', '18:30:00', '19:00:00', '19:30:00', '20:00:00'] : 2

In [8]:
# uncomment to test a break in the schedule
# del reg_schedule[9:11]

In [9]:
# Remove non-regular time rows
def filter_schedule(df, schedule):
    # convert schedule to datetime pd.Series
    pd_schedule = pd.to_datetime(pd.Series(schedule))
    # create a sequence of indexed halfhours
    pd_schedule = pd_schedule.dt.strftime('%H').astype('int64')*2 + pd_schedule.dt.strftime('%M').astype('int64')//30
    
    # check if the schedule is continuous
    if (max(pd_schedule) - min(pd_schedule) + 1 == len(pd_schedule)):
        # no breaks
        df = df.between_time(schedule[0], schedule[-1])
    else:
        # there is a break
        df_schedule = pd.DataFrame({'time':schedule, 'hh':pd_schedule})
        # find break
        for i in df_schedule.index:
            if (df_schedule.at[i+1,'hh'] - df_schedule.at[i,'hh']) != 1:
                break
        close_morning = df_schedule.at[i,'time']
        open_afternoon = df_schedule.at[i+1,'time']
        #print('break from',close_morning,'to',open_afternoon)
        # make 2 splits
        df1 = df.between_time(schedule[0], close_morning)
        df2 = df.between_time(open_afternoon, schedule[-1])
        # join
        df = pd.concat([df1, df2]).sort_index()
    
    return df

In [10]:
dataset = filter_schedule(dataset, reg_schedule)
dataset

                     sales  n_clients imputed
ds
2015-01-02 08:00:00    NaN        NaN     yes
2015-01-02 08:30:00    NaN        NaN     yes
2015-01-02 09:00:00    NaN        NaN     yes
2015-01-02 09:30:00    NaN        NaN     yes
2015-01-02 10:00:00  121.0        2.0      no
...                    ...        ...     ...
2020-10-18 17:00:00    NaN        NaN     yes
2020-10-18 17:30:00    NaN        NaN     yes
2020-10-18 18:00:00    NaN        NaN     yes
2020-10-18 18:30:00    NaN        NaN     yes
2020-10-18 19:00:00    NaN        NaN     yes

[40089 rows x 3 columns]

In [11]:
# Imput missing data day-by-day
def input_inday(df, method='linear'):
    # ignore pandas.loc warning
    import warnings
    warnings.filterwarnings('ignore')
    
    # get list of days
    for dt in np.unique(df.index.date):
        # input each day individualy
        df.loc[str(dt)] = df.loc[str(dt)].interpolate(method=method, limit_direction='both')
        
    warnings.filterwarnings('default')
    
    return df

In [12]:
dataset = input_inday(dataset, method='linear')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40089 entries, 2015-01-02 08:00:00 to 2020-10-18 19:00:00
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sales      40089 non-null  float64
 1   n_clients  40089 non-null  float64
 2   imputed    40089 non-null  object
dtypes: float64(2), object(1)
memory usage: 1.2+ MB